*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    max-width: 100%;
    background-color: white;
}
.logo{
    max-height: 900px;
    color: orange;
    font-family: cursive ;
    margin: 10px;
}
.container{

}
.row{

}
.col{
    
}