* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 320px;
    background-color: white;

}

.logo {
    max-height: 320px;
    color: orange;
    font-family: cursive;
    margin: 30px;
    font-size: 7rem;
    text-align: center;


}

.container {
    max-width: 320%;
    background-color: rgba(174, 169, 169, 0.949);
}

.row {}

.menu {
    color: gray;
    font-size: 2rem;
    margin-bottom: 2px;


}

.title {
    color: rgb(53, 45, 60);
    font-size: 4rem;
    margin-bottom: 2px;



}

.col {}

.youtube {}

span {
    font-size: 40px;
}

li {
    margin-bottom: 10px;

}

.second {
    max-width: 100%;
    background-color: rgba(174, 169, 169, 0.949);

}

}

.col {}

.icons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px;
}

.fb,
.tw,
.ig,
.p,
.y {
    width: 50px;
}


.fb {
    color: blue;
}

.tw {
    color: deepskyblue;
}

.ig {
    color: deeppink;
}

.p {
    color: red;
}

.y {
    color: red;
}

.presentation {
    color: black;
    margin-left: 100px;
    margin-top: 3rem;
}

.hr {}

.piatto {
    width: 50%;

}

.tablet {
    display: none;
}



@media screen and (min-width: 768px) {
    .header {}

    .tablet {
        display: inline-block;
    }

    .logo {
        font-size: 7rem;
    }

    .fb {
        color: blue;
        font-size: 2rem;
    }

    .tw {
        color: deepskyblue;
        font-size: 2rem;
    }

    .ig {
        color: deeppink;
        font-size: 2rem;
    }

    .p {
        color: red;
        font-size: 2rem;
    }

    .y {
        color: red;
        font-size: 2rem;
    }

    .banner {
        display: block
    }






}